// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.



body > header h1 {
      padding-left:2.2em;
      text-align:right;
      @media only screen and (min-width: 432px) {
              text-align:left;
      }
      @media only screen and (min-width: 768px) {
              padding-left:2.4em;
      }
      @media only screen and (min-width: 992px) {
              padding-left:1.7em;
      }
}

body > header h2 {
      padding-left:5.62em;
      text-align:right;
      @media only screen and (min-width: 230px) {
              text-align:left;
              padding-left:4.8em;
      }
      @media only screen and (min-width: 768px) {
              padding-left:5.3em;
      }
      @media only screen and (min-width: 992px) {
              padding-left:3.8em;
      }
}

body > header h1:before {
      content:"";
      position:absolute;
      left:0em;
      right:0;
      top:1.5em;
      height:110px;
      width:110px;
      overflow:hidden;
      text-align:right;
      background-image:url('/images/logo3.png');
      background-repeat:no-repeat;
      @media only screen and (min-width: 230px) {
              top:.32em;
      }
      @media only screen and (min-width: 768px) {
              left:.75em;
      }
}


//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;
//$header-padding-bottom: 1.5em;


$max-width: 700px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

